html {
    scroll-behavior: smooth;
}

.bg-marrom {
    background-color: rgb(114, 47, 0);
}

.text-marrom {
    color: rgb(114, 47, 0);
}

.texto {
    font-size: 26px;
    text-align: justify;
}

.titulo-1 {
    font-weight: 800;
    font-size: 12vmin;
    margin-bottom: 30px;
}

.titulo-2 {
    font-weight: 800;
    font-size: 8vmin;
    margin-bottom: 30px;
}