.bg-marrom {
    background-color: rgb(114, 47, 0);
}

.text-marrom {
    color: rgb(114, 47, 0);
}

.titulo-1 {
    font-weight: 800;
    font-size: 4vmax;
    margin-bottom: 30px;
}

.titulo-2 {
    font-weight: 800;
    font-size: 3vmax;
    margin-bottom: 30px;
}