.curva-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curva-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.curva-bottom .shape-fill {
    fill: #FFFFFF;
}

.onda-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.onda-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.onda-top .shape-fill {
    fill: #FFFFFF;
}

.onda-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.onda-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.onda-bottom .shape-fill {
    fill: #FFFFFF;
}